<div class='container px-5 px-sm-0 mt-3'>
  <div class='row'>
    <div class='col-md-3'>
      <%= image_tag @end_user.get_profile_image, size: '80x80', class: "rounded-circle" %></br>
      <table class='table'>
        <tr>
	        <th>name</th>
	        <th><%= @end_user.name %></th>
        </tr>
        <tr>
	        <th>introduction</th>
	        <th><%= @end_user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th><%= link_to @end_user.followings.count, end_user_followings_path(@end_user) %></th>
        </tr>
          <th>followers</th>
          <th><%= link_to @end_user.followers.count, end_user_followers_path(@end_user) %></th>
        </tr>
        </table>
        <%= link_to "いいねした投稿", end_user_favorites_path(@end_user) %>
        
<% if current_end_user.name != "Guest" %>
  <% if @end_user != current_end_user %>
  <div>
    <% if current_end_user.following?(@end_user) %>
      <%= link_to "フォロー外す", end_user_relationships_path(@end_user.id), method: :delete, class: 'btn btn-info' %>
      <% if current_end_user != @end_user %>
        <%= link_to 'chatを始める', chat_path(@end_user.id)%>
      <% end %>
    <% else %>
      <%= link_to "フォローする", end_user_relationships_path(@end_user.id), method: :post, class: 'btn btn-success' %>
    <% end %>
  </div>
  <% end %><br>

  <div class='row'>
  <% if @end_user == current_end_user %>
    <%= link_to edit_end_user_path(@end_user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
  </div>
<% end %>
 </div>

<!-- ユーザーの投稿一覧 -->
  <div class="row">
  <% @nails.each do |nail| %>
    <div class='col-3 offset-md-1'>
      <%= link_to nail_path(nail.id) do %>
        <%= image_tag nail.get_image, size:"200x200" %>
      <% end %>
      <p><%= nail.title %></p>
    </div>
  <% end %>
  </div>
</div>