<div class='container px-5 px-sm-0 mt-4'>
  <div class='row'>
    <% if @end_user.is_deleted %>
      ユーザーはいません。
    <% else %>
    <!--プロフィール-->
    <div class='col-lg-3 text-center shadow mt-4 mb-5' style="background-color:#fffafa;">
      <div class='mt-3'>
        <%= image_tag @end_user.get_profile_image, size: '80x80', class: "rounded-circle" %>
      </div></br>
      <table class='table mt-3'>
        <tr>
	        <td>name</td>
	        <th><%= @end_user.name %></th>
        </tr>
        <tr>
	        <td>introduction</td>
	        <td style="font-size:11px;"><%= @end_user.introduction %></td>
        </tr>
      </table>
      <!--本人なら、編集・下書き一覧ボタン-->
      <div>
        <% if @end_user == current_end_user %>
          <%= link_to edit_end_user_path(@end_user), class: "btn btn-outline-secondary" do %>
            Edit <i class="fas fa-user-edit"></i>
          <% end %>
          <%=link_to confirm_end_user_path(@end_user), class: "btn btn-outline-secondary" do %>
             Draft Nails <i class="fas fa-quidditch"></i>
          <% end %>
        <% end %>
      </div></br>

      <table class='table mt-3'>
        <tr>
          <td>follows</td>
          <td><%= link_to @end_user.followings.where( is_deleted: false ).count, end_user_followings_path(@end_user) %></td>
        </tr>
        <tr>
          <td>followers</td>
          <td><%= link_to @end_user.followers.where( is_deleted: false ).count, end_user_followers_path(@end_user) %></td>
        </tr>
        <tr>
          <td>favorites</td>
          <td><%= link_to @end_user.favorites.count, end_user_favorites_path(@end_user) %></td>
        </tr>
      </table>
      <!--ゲスト・本人以外、フォロー・チャット-->
      <% if current_end_user.name != "Guest" %>
      <% if @end_user != current_end_user %>
      <div class="mb-3">
        <% if current_end_user.following?(@end_user) %>
          <%= link_to end_user_relationships_path(@end_user.id), method: :delete, class: 'btn border-dark text-reset' do %>
            <i class="fas fa-user-minus"></i>
          <% end %>
        <% else %>
          <%= link_to end_user_relationships_path(@end_user.id), method: :post, class: 'btn border-dark text-success' do %>
            <i class="fas fa-user-plus"></i>
          <% end %>
        <% end %>

        <%= link_to chats_path(end_user_id: @end_user.id), class: "btn border-dark text-reset" do %>
          <i class="fas fa-comments"></i> CHAT
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class="col-lg-9">
      <div class="row text-center ml-2 mr-2 mb-4">
        <% @nails.each do |nail| %>
          <div class='col-lg-4 mt-3 pt-2 pl-2 pr-2 border'>
            <%= link_to nail_path(nail.id) do %>
              <%= image_tag nail.get_image, size:"250x250" %>
            <% end %>
            <p><%= nail.title %></p>
          </div>
        <% end %>
        <%= paginate @nails, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  <% end %>
  </div>
</div>