<div class='container px-5 px-sm-0 mt-3'>
  <div class='row'>
    <div class='col-lg-3'>
      <%= image_tag @end_user.get_profile_image, size: '80x80', class: "rounded-circle" %></br>
      <table class='table'>
        <tr>
	        <th>name</th>
	        <th><%= @end_user.name %></th>
        </tr>
        <tr>
	        <th>introduction</th>
	        <th><%= @end_user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th><%= link_to @end_user.followings.count, end_user_followings_path(@end_user) %></th>
        </tr>
          <th>followers</th>
          <th><%= link_to @end_user.followers.count, end_user_followers_path(@end_user) %></th>
        </tr>
      </table>
        
      <%= link_to "いいねした投稿", end_user_favorites_path(@end_user) %>
        
      <% if current_end_user.name != "Guest" %>
      <% if @end_user != current_end_user %>
      <div>
        <% if current_end_user.following?(@end_user) %>
          <%= link_to end_user_relationships_path(@end_user.id), method: :delete, class: 'text-reset' do %>
              <i class="fas fa-user-minus"></i>
          <% end %>
        <% else %>
          <%= link_to end_user_relationships_path(@end_user.id), method: :post, class: 'text-success' do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
        <% end %>
        
        <%= link_to chat_path(@end_user.id), class: "text-reset" do %>
            <i class="fas fa-comments"></i> CHAT
          <% end %>
      </div>
      <% end %>
      <br>
      <div>
      <% if @end_user == current_end_user %>
        <%= link_to edit_end_user_path(@end_user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>
      </div>
      <% end %>
    </div>

<!-- ユーザーの投稿一覧 -->
    <div class="col-9">
      <div class="row">
        <% @nails.each do |nail| %>
        <div class='col-md-3 offset-md-1 mt-2'>
          <%= link_to nail_path(nail.id) do %>
            <%= image_tag nail.get_image, size:"250x250" %>
          <% end %>
          <p><%= nail.title %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>