<div class='container px-5 px-sm-0 mt-3'>
  <div class='row'>
    <div class='col-lg-3 text-center'>
      <%= image_tag @end_user.get_profile_image, size: '80x80', class: "rounded-circle" %></br>
      
      <table class='table mt-3'>
        <tr>
	        <td>name</td>
	        <th><%= @end_user.name %></th>
        </tr>
        <tr>
	        <td>introduction</td>
	        <td style="font-size:11px;"><%= @end_user.introduction %></td>
        </tr>
      </table>
      
      <div>
        <% if @end_user == current_end_user %>
          <%= link_to edit_end_user_path(@end_user), class: "btn btn-outline-secondary" do %>
            Edit <i class="fas fa-user-edit"></i>
          <% end %>
        <% end %>
      </div></br>
      
      <table class='table mt-3'>
        <tr>
          <td>follows</td>
          <td><%= link_to @end_user.followings.count, end_user_followings_path(@end_user) %></td>
        </tr>
          <td>followers</td>
          <td><%= link_to @end_user.followers.count, end_user_followers_path(@end_user) %></td>
        </tr>
      </table>
      
      <% if current_end_user.name != "Guest" %>
      <% if @end_user != current_end_user %>
      <div>
        <% if current_end_user.following?(@end_user) %>
          <%= link_to end_user_relationships_path(@end_user.id), method: :delete, class: 'btn border-dark text-reset' do %>
              <i class="fas fa-user-minus"></i>
          <% end %>
        <% else %>
          <%= link_to end_user_relationships_path(@end_user.id), method: :post, class: 'btn border-dark text-success' do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
        <% end %>
      
        <%= link_to chat_path(@end_user.id), class: "btn border-dark text-reset" do %>
            <i class="fas fa-comments"></i> CHAT
          <% end %>
      </div>
      <% end %>
      <% end %>
    </div>

<!-- ユーザーの投稿一覧 -->
    <div class="col-9">
      <div class="row">
        <% @nails.each do |nail| %>
        <div class='col-md-3 offset-md-1 mt-2'>
          <%= link_to nail_path(nail.id) do %>
            <%= image_tag nail.get_image, size:"250x250" %>
          <% end %>
          <p><%= nail.title %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>