<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1 mt-5">
      <!--検索対象がUserの時 -->
      <% if @range == "User" %>
        <h3>Users search for "<%= @word %>"</h3>
        <table class="table table-hover table-inverse">
        <% if @end_users.present? %>
          <tbody>
          <% @end_users.each do |end_user| %>
            <tr>
              <td>
                <%= link_to end_user_path(end_user.id) do %>
                  <%= end_user.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        <% else %>
          <div>検索結果はありません</div>
        <% end %>
        </table>

      <% else %>
      <!--検索対象がUserではない時 -->
        <h3>Nails search for "<%= @word %>"</h3>
        <div>
        <% if @nails.present? %>
          <% @nails.each do |nail| %>
            <%= link_to nail_path(nail.id) do %>
              <%= image_tag nail.get_image, size: "200x200" %>
            <% end %>
          <% end %>
        <% else %>
          <div>検索結果はありません</div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>