<% @nails.each do |nail| %>
<div>
  <%= link_to admin_nail_path(nail.id) do %>
    <%= image_tag nail.get_image, size:"300x300" %>
  <% end %>
  <p><%= image_tag nail.end_user.get_profile_image, size:"50x50" %></p>
  <p><%= nail.title %></p>
  <p><%= nail.end_user.name %></p>
  <p>♥<%= nail.favorites.count %></p>
  <p><%= nail.comments.count %>件のコメント</p>
  <%= link_to admin_nail_path(nail), method: :delete do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
<% end %>