<div class="card-list-container ml-2 mr-2">
  <div class="row">
    <!--お気に入りtop3-->
    <div class='col-lg-3 text-center' style="background-color:#ffe4e1;">
      
      <div class="pt-3">
        <h4><i class="far fa-heart"></i> Top3 <i class="far fa-heart"></i></h4>
      </div>
      
      <% @nails_top.each do |nail| %>
      <div class='card mt-2 ml-4 mr-3 mb-4'>
        <%= link_to nail_path(nail.id) do %>
          <%= image_tag nail.get_image, class:"card-img-top center-block", size:"230x230"%>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12 card-title text-center">
              <div><strong><%= nail.title %></strong></div>
              <div class="nail_<%= nail.id %>">
                <%= render "public/favorites/favorites", nail: nail %>
              </div>
              <div><i class="fas fa-user-edit"></i> <%= nail.end_user.name %></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      
    </div>
    
    <!--メイン最新投稿-->
    <div class="col-lg-9">
      <!--タグ検索バー-->
      <div class="mt-2 ml-2 text-left">
        <%= form_tag nails_path, method: :get, class: 'boards__searchForm' do %>
          <%= select_tag :tag_id, options_from_collection_for_select( Tag.all, :id, :name, params[:tag_id]),{ prompt: 'タグで絞り込み検索', onchange: 'submit(this.form);'} %>
        <% end %>
        <h4 class="mt-2">New Posts</h4>
      </div>
      <!--投稿それぞれ-->
      <div class="row ml-2 mr-2">
        <% @nails.each do |nail| %>
        <div class="col-lg-4">
          <div class="card shadow-lg mt-2">
            <div class="card-top">
              <%= link_to nail_path(nail.id) do %>
                <%= image_tag nail.get_image, class:"card-img-top center-block", size:"300x300"%>
              <% end %>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 card-title text-center">
                  <div><strong><%= nail.title %></strong></div>
                  <div class="nail_<%= nail.id %>">
                    <%= render "public/favorites/favorites", nail: nail %>
                  </div>
                  <div><i class="fas fa-user-edit"></i> <%= nail.end_user.name %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      
    </div>
    
  </div>
</div>