<div class="card-list-container ml-3 mr-3">
  <div class="row">
  <% @nails.each do |nail| %>
  <div class="col-md-3 py-4">
  <div class="card shadow-lg">
    <%= link_to nail_path(nail.id) do %>
      <%= image_tag nail.get_image, class:"card-img-top center-block", size:"350x350"%>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-12 card-title text-center">
            <div><strong><%= nail.title %></strong></div>
            <div class="favorite-btn">
              <%= render "public/favorites/favorites", nail: nail %>
              　<i class="far fa-comment-dots"></i> <%= nail.comments.count %>
            </div>
            <div><i class="fas fa-user-edit"></i> <%= nail.end_user.name %></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>