<div class="card-list-container ml-3 mr-3">
  <div class="row">
  <% @nails.each do |nail| %>
  <div class="col-md-3 py-4">
  <div class="card shadow-lg">
    <%= link_to nail_path(nail.id) do %>
      <%= image_tag nail.get_image, class:"card-img-top img-responsive center-block", size:"350x350"%>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag nail.end_user.get_profile_image, class:"mt-3 rounded-circle", size:"50x50" %>
        </div>
        <div class="col-9 ml-1">
          <p class="card-title">
            <%= nail.title %>
          </p>
          <p>By <%= nail.end_user.name %></p>
          <p>
          <% if current_end_user.name != "Guest" %>
          <% if nail.favorited_by?(current_end_user) %>
              <%= link_to nail_favorites_path(nail), method: :delete do %>
                ♥ <%= nail.favorites.count %>
              <% end %>
          <% else %>
              <%= link_to nail_favorites_path(nail), method: :post do %>
                ♡ <%= nail.favorites.count %>
              <% end %>
          <% end %>
          <% else %>
            ♥ <%= nail.favorites.count %>
          <% end %>
          　<i class="far fa-comment-dots"></i> <%= nail.comments.count %>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  </div>
</div>