<div>
  <%= image_tag @nail.get_image, size:"400x400" %>
  <p><%= @nail.title %></p>
  <p>説明：<%= @nail.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @nail.end_user.get_profile_image, size:"50x50" %></p>
  <p>User：<%= @nail.end_user.name %></p>
  <% if @end_user != current_end_user %>
  <div>
    <% if current_end_user.name != "Guest" %>
    <% if current_end_user.following?(@end_user) %>
      <%= link_to "フォロー外す", end_user_relationships_path(@end_user.id), method: :delete, class: 'btn btn-info' %>
      <% if current_end_user != @end_user %>
        <%= link_to 'chatを始める', chat_path(@end_user.id)%>
      <% end %>
    <% else %>
      <%= link_to "フォローする", end_user_relationships_path(@end_user.id), method: :post, class: 'btn btn-success' %>
    <% end %>
    <% end %>
  </div>
<% end %><br>
  <p>投稿日：<%= @nail.created_at.strftime('%Y/%m/%d') %></p>
  <% if @nail.end_user == current_end_user %>
    <%= link_to "Delete", nail_path(@nail), method: :delete %>
  <% end %>
  <% if current_end_user.name != "Guest" %>
    <% if @nail.favorited_by?(current_end_user) %>
      <p>
        <%= link_to nail_favorites_path(@nail), method: :delete do %>
          ♥<%= @nail.favorites.count %>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to nail_favorites_path(@nail), method: :post do %>
          ♡<%= @nail.favorites.count %>
        <% end %>
      </p>
    <% end %>
  <% else %>
    ♥<%= @nail.favorites.count %>
  <% end %>
</div>
<div>
  <p>コメント件数：<%= @nail.comments.count %></p>
  
  <% @nail.comments.each do |comment| %>
    <p><%= image_tag comment.end_user.get_profile_image, size:"50x50" %></p>
    <%= comment.end_user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.end_user == current_end_user %>
      <%= link_to "削除", nail_comment_path(comment.nail, comment), method: :delete %>
    <% end %>
  <% end %>
  
  <% if current_end_user.name != "Guest" %>
    <%= form_with model: [@nail, @comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  <% end %>
</div>