<div class='container px-5 px-sm-0'>
  <div class='row' style="margin-top:25px;">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <h4 class="mb-3"><%= @end_user.name %>さんの会員詳細</h4>
      <table class='table text-secondary'>
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @end_user.id %></td>
          </tr>
          <tr>
            <td>ユーザーネーム</td>
            <td><%= @end_user.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @end_user.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <% if @end_user.is_deleted == false %>
              <td class="text-success font-weight-bold">有効</td>
            <% else %>
              <td class="text-muted font-weight-bold">退会済み</td>
            <% end %>
          </tr>
          <tr>
            <th></th>
            <th>
              <%= link_to "編集する", edit_admin_end_user_path(@end_user.id), class: 'btn btn-success' %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    
    <% @nails.each do |nail| %>
    <div>
      <%= link_to admin_nail_path(nail.id) do %>
        <%= image_tag nail.get_image, size: '200x200' %>
      <% end %>
      <p><%= nail.title %></p>
    </div>
    <% end %>
  </div>
</div>
