<header class="text-monospace"  style="background-color:#E79D9D;">
  <nav class="navbar navbar-expand-lg">
    <div class="container mt-2">
      <div>
      <%= link_to root_path do %>
        <%= image_tag 'Nail.logo.png', size: "150x150" %>
      <% end %>
      </div>
      <div>
      <% if end_user_signed_in? %>
        <% if current_end_user.name != "Guest" %>
          <h4>
            <%= link_to end_user_path(current_end_user), class: "font-weight-bold text-reset" do %>
              <% current_end_user.name %>
            <% end %>
            さんのページ
          </h4>
        <% else %>
          ようこそ！ ゲストさん
        <% end %>
      <% end %>
      </div>
      <div class= "nav-link">
      <button class="navbar-toggler" style="background-color: #E79D9D; border-color: #ffffff;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-sort-down"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <!--adminログイン時のヘッダー-->
            <% if admin_signed_in? %>
              <li>
                <%= link_to "投稿一覧", admin_nails_path, class: 'nav-link border-bottom' %>
              </li>
              <li >
                <%= link_to "会員一覧", admin_end_users_path, class: 'nav-link border-bottom'  %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link border-bottom' %>
              </li>

            <!--end_usersログイン時のヘッダー-->
            <% elsif end_user_signed_in? %>
              <li>
                <% if current_end_user.name != "Guest" %>
                  <%= link_to "New Post　", new_nail_path, class: 'nav-link border-bottom', style:"color:#800000;" %>
                <% end %>
              </li>
              <li>
                <%= link_to "Nails", nails_path, class: 'nav-link border-bottom', style:"color:#7b6ebb;" %>
              </li>
              <li>
                <% if current_end_user.name != "Guest" %>
                  <%= link_to "Favorites", end_user_favorites_path(current_end_user), class: 'nav-link border-bottom', style:"color:#c71585;" %>
                <% end %>
              </li>
              <li>
                <% if current_end_user.name != "Guest" %>
                  <%= link_to "Users　", end_users_path, class: 'nav-link border-bottom', style:"color:#8b008b;" %>
                <% end %>
              </li>
              <li>
                <%= link_to "Log out", destroy_end_user_session_path, method: :delete, class: 'nav-link border-bottom', style:"color:#cd5c5c;" %>
              </li>
              
            <% else %>
            <!--ログイン前時のヘッダー-->
              <li>
                <%= link_to "Home", root_path, class: 'nav-link border-bottom', style:"color:#2f4f4f;" %>
              </li>
              <li>
                <%= link_to "Sign up", new_end_user_registration_path, data: {"turbolinks" => false}, class: 'nav-link border-bottom', style:"color:#2f4f4f;" %>
              </li>
              <li>
                <%= link_to "Log in", new_end_user_session_path, class: 'nav-link border-bottom', style:"color:#2f4f4f;" %>
              </li>
            <% end %>
            </ul>
          </div>
    </div> 
  </nav>
  <div class="container">
    <div class="row d-flex justify-content-end">
      <%= render 'layouts/search' %>
    </div>
  </div>
</header>