<% if end_user_signed_in? %>
  <div class="search_form"><div class="input-group input-group-sm">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
    　<%= f.select :range, options_for_select([['Nail'], ['User']]) %>
      <%= f.text_field :word, placeholder: "search" %>
      <%= button_tag type: "submit", class: "btn btn-default border mb-1" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="search_form">
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
    　<%= f.select :range, options_for_select([['Nail'], ['User']]) %>
      <%= f.text_field :word, placeholder: "search" %>
      <%= button_tag type: "submit", class: "btn btn-default border mb-1" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
<% end %>